# Java
target/
*.jar
*.war
*.ear
*.log
.classpath
.project
.settings/
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Docker
**/docker-compose.override.yml

# VS Code
.vscode/
*.code-workspace

# Project specific
**/*.bak
**/*.backup
